﻿@{ 
    string action = ViewContext.RouteData.Values.Values.ToList()[1].ToString();
    var query = ViewContext.HttpContext.Request.QueryString.ToString();
}

<div class="row ml-1">
    <p class="clasificacion mt-3">
        <a asp-action="Votacion" asp-route-voto="5" asp-route-movieId="@Model.Id" asp-route-url="@($"~/Home/{action}{query}")">
            <label id="5" for="radio5">
                <i class="fa fa-star" aria-hidden="true"></i>
            </label>
        </a>
        <a asp-action="Votacion" asp-route-voto="4" asp-route-movieId="@Model.Id" asp-route-url="@($"~/Home/{action}{query}")">
            <label id="4" for="radio5">
                <i class="fa fa-star" aria-hidden="true"></i>
            </label>
        </a>
        <a asp-action="Votacion" asp-route-voto="3" asp-route-movieId="@Model.Id" asp-route-url="@($"~/Home/{action}{query}")">
            <label id="3" for="radio5">
                <i class="fa fa-star" aria-hidden="true"></i>
            </label>
        </a>
        <a asp-action="Votacion" asp-route-voto="2" asp-route-movieId="@Model.Id" asp-route-url="@($"~/Home/{action}{query}")">
            <label id="2" for="radio5">
                <i class="fa fa-star" aria-hidden="true"></i>
            </label>
        </a>
        <a asp-action="Votacion" asp-route-voto="1" asp-route-movieId="@Model.Id" asp-route-url="@($"~/Home/{action}{query}")">
            <label id="1" for="radio5">
                <i class="fa fa-star" aria-hidden="true"></i>
            </label>
        </a>
    </p>
</div>

<script>
    // Codigo para visualizar las estrellas
    const voto = @ViewData["Voto"];
        for (var i = voto; i > 0; i--) {
            let icon = document.getElementById(`${i}`).children[0];
            icon.setAttribute('style', 'color:orange');
        }
</script>