﻿<form asp-action="AddComentario" asp-route-movieId="@ViewData["movieId"]" asp-route-url="@ViewData["url"]">
    <div id="comment" class="input-group mt-3">
        <input type="text" id="comentario" name="comentario" class="form-control" placeholder="Escriba un comentario" aria-describedby="basic-addon2">
        <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="submit">Comentar</button>
        </div>
    </div>
</form>
