﻿<!DOCTYPE html>
<html>

@{
    string action = $"{ViewContext.RouteData.Values.Values.ToList()[0].ToString()}-{ViewContext.RouteData.Values.Values.ToList()[1].ToString()}";
}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ProyectoPeliculas</title>

    <environment include="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        @{

            switch (action)
            {
                case "Home-Search":
                    <link rel="stylesheet" href="~/css/search.css" />
                    break;

                case "Home-GetGenre":
                    <link rel="stylesheet" href="~/css/search.css" />
                    break;

                case "Home-MovieDetail":
                    <link rel="stylesheet" href="~/css/detalle.css" />
                    break;

                case "/Account/Login-Identity":
                    <link rel="stylesheet" href="~/css/accout.css" />
                    break;

                case "/Account/Register-Identity":
                    <link rel="stylesheet" href="~/css/accout.css" />
                    break;

                case "Home-Perfil":
                    <link rel="stylesheet" href="~/css/perfil.css">
                    break;

                case "Home-PeliculasFav":
                    <link rel="stylesheet" href="~/css/perfil.css">
                    break;

                case "Admin-AccesDenied":
                    <link rel="stylesheet" href="~/css/403.css" />
                    break;

                case "Admin-Index":
                    <link rel="stylesheet" href="~/css/admin.css">
                    break;

                case "Admin-ListadoCines":
                    <link rel="stylesheet" href="~/css/admin.css">
                    break;
                case "Admin-InsertarCine":
                    <link rel="stylesheet" href="~/css/admin.css">
                    break;
                case "Admin-EditarCine":
                    <link rel="stylesheet" href="~/css/admin.css">
                    break;

                default:
                    <link rel="stylesheet" href="~/css/site.css" />
                    break;
            }
        }

    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    </environment>
</head>
<body class="d-flex flex-column h-100">

    @if (action != "Admin-AccesDenied")
    {
        <header>
            <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
                <a class="navbar-brand" asp-controller="Home" asp-action="Index">
                    <img src="~/images/claqueta.svg" width="30" height="30" class="d-inline-block align-top" alt="" />
                    Proyecto Peliculas
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent"
                        aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item @(action == "Home-Index" ? "activa": "")">
                            <a class="nav-link" asp-controller="Home" asp-action="Index">Popular</a>
                        </li>
                        <li class="nav-item @(action == "Home-NowPlaying" ? "activa": "")">
                            <a class="nav-link" asp-controller="Home" asp-action="NowPlaying">En Cartelera</a>
                        </li>
                        <li class="nav-item @(action == "Home-UpComing" ? "activa": "")">
                            <a class="nav-link" asp-controller="Home" asp-action="UpComing">Próximamente</a>
                        </li>
                        <li class="nav-item @(action == "Home-TopRate" ? "activa": "")">
                            <a class="nav-link" asp-controller="Home" asp-action="TopRate">Mejor valoradas</a>
                        </li>
                        <li class="nav-item @(action == "Home-SearchCine" ? "activa": "")">
                            <a class="nav-link" asp-controller="Home" asp-action="SearchCine">Cines</a>
                        </li>
                    </ul>
                    <partial name="_LoginPartial" />
                    <form class="form-inline my-2 my-lg-0" asp-action="Search" method="post">
                        <input id="query" name="query" class="form-control mr-sm-2" type="search" placeholder="Buscar pelicula" aria-label="Search">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
                    </form>
                </div>
            </nav>
        </header>
    }

    <partial name="_CookieConsentPartial" />

    @RenderBody()

    <!-- FOOTER -->
    @if (action != "Admin-AccesDenied")
    {
        <footer>
            @*<div class="row">
                <div class="col-12 @(action=="Index"?"offset-sm-0 offset-md-1":"")  bg-dark">
                    <ul class="navbar-nav d-flex flex-row justify-content-between justify-content-sm-center">
                        <li class="nav-item ml-3 ml-sm-4">
                            <a class="nav-link" href="#"><img src="~/images/github.svg" width="40" height="40" alt=""></a>
                        </li>
                        <li class="nav-item ml-sm-4">
                            <a class="nav-link" href="#">
                                <img src="~/images/discordia.svg" width="40" height="40"
                                     alt="">
                            </a>
                        </li>
                        <li class="nav-item ml-sm-4">
                            <a class="nav-link" href="#">
                                <img src="~/images/facebook.svg" width="40" height="40"
                                     alt="">
                            </a>
                        </li>
                        <li class="nav-item mr-3 ml-sm-4">
                            <a class="nav-link" href="#">
                                <img src="~/images/instagram.svg" width="40" height="40"
                                     alt="">
                            </a>
                        </li>
                    </ul>
                    <div class="d-flex flex-row justify-content-center">
                        <span class="text-white">© 2020 Copyright Proyecto Pelicula</span>
                    </div>
                </div>
            </div>*@
        </footer>
    }

    <environment include="Development">
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
                integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
                crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
                integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
                crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
                integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
                crossorigin="anonymous"></script>
        <!-- custom JS -->
        <script src="~/js/site.js"></script>

        <script>
            $(document).ready(function () {
                $('[data-toggle="tooltip"]').tooltip();
            });
        </script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
