﻿@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager


@* Funcionalida para la gestion de los enlaces de inicio de sesion y salir de sesion *@

@{
    if (SignInManager.IsSignedIn(User))
    {
        <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@($"~/Home/Index")" method="post" id="logoutForm" class="navbar-nav justify-content-end">
            <ul class="navbar-nav justify-content-end">
                @{
                    if (SignInManager.IsSignedIn(User))
                    {
                        <li>
                            <button type="submit" class="btn btn-link nav-link mr-3">Salir</button>
                        </li>

                        if (User.IsInRole("Administrador"))
                        {
                            <li>
                                <a class="nav-link mr-3" asp-controller="Admin" asp-action="Index">Admin</a>
                            </li>
                        }
                        else
                        {
                            <li>
                                <a class="nav-link mr-3" asp-controller="Home" asp-action="Perfil">Perfil</a>
                            </li>
                        }
                    }
                }
            </ul>
        </form>
    }
    else
    {
        <ul class="navbar-nav justify-content-end">
            <li>
                <a class="nav-link mr-3" asp-area="Identity" asp-page="/Account/Register">Registrar</a>
            </li>
            <li>
                <a class="nav-link mr-3" asp-area="Identity" asp-page="/Account/Login">Acceder</a>
            </li>
        </ul>
    }
}
