﻿@model TMDbLib.Objects.General.SearchContainer<SearchMovie>

@{ 
    int cnt = 0;
    int aux = 0;
    int temp = 0;
    List<int> numbers = new List<int>();
    Random random = new Random();

    for (int i = 0; i < 8; i++)
    {
        temp = random.Next(0, 20);
        if (!numbers.Contains(temp))
        {
            numbers.Add(temp);
        }
        else
        {
            i--;
        }
    }
}

<div id="carouselCaptions" class="carousel slide" style="width:75%; margin:auto"  data-ride="carousel">
    @{
        <ol class="carousel-indicators">
            @{
                for (int i = 0; i < 8; i++)
                {
                    <li data-target="#carouselCaptions" data-slide-to="@i" class="@(i == 0 ? "active": "")"></li>
                }
            }
        </ol>
        <div class="carousel-inner">
            @{
                foreach (SearchMovie movie in Model.Results)
                {
                    if (movie.BackdropPath != null && numbers.Contains(aux))
                    {
                        <div class="carousel-item h-100 @(cnt == 0 ? "active" : "")">
                            <img src="@($"https://image.tmdb.org/t/p/w780{movie.BackdropPath}")" class="d-block w-100 h-100" alt="..." />
                            <div class="carousel-caption d-none d-md-block">
                                <h5>@movie.Title</h5>
                                <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
                            </div>
                        </div>
                        cnt++;
                    }
                    else if (movie.BackdropPath == null)
                    {
                        for (int i = 0; i < 20; i++)
                        {
                            temp = random.Next(aux, 20);
                            if (!numbers.Contains(temp))
                            {
                                numbers.Remove(aux);
                                numbers.Add(temp);
                                break;
                            }
                        }

                    }
                    aux++;
                    if (cnt == 9) { break; }
                }
            }
        </div>
    }

    <a class="carousel-control-prev" href="#carouselCaptions" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselCaptions" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
