﻿@model TMDbLib.Objects.General.SearchContainer<SearchMovie>

@{ 
    string action = ViewContext.RouteData.Values.Values.ToList()[1].ToString();
    int previus = Model.Page - 1;
    int next = Model.Page + 1;
    int currentPage = Convert.ToInt32(ViewData["currentPage"]);
    }

<div class="d-flex flex-row justify-content-center">
    <nav aria-label="...">
        <ul class="pagination justify-content-center">
            <li class="page-item @(previus == 0 ? "disabled": "")">
                <a class="page-link" asp-controller="Home" asp-action="@action" asp-route-page="@previus">Previus</a>
            </li>
            @{
                for (int pag = currentPage - 4; pag <= currentPage; pag++)
                {
                    <li class="page-item @(Model.Page == pag ? "active": "")"><a class="page-link" asp-controller="Home" asp-action="@action" asp-route-page="@pag">@pag</a></li>
                }
            }

            <li class="page-item @(next == Model.TotalPages ? "disabled": "")">
                <a class="page-link" asp-controller="Home" asp-action="@action" asp-route-page="@next">Next</a>
            </li>
        </ul>
    </nav>
</div>
