﻿@{ 
    List<Categoria> categorias = ViewData["categorias"] as List<Categoria>;
}

<div class="col-md-2 d-none d-md-block bg-light sidebar">
    <div class="sidebar-sticky">
        <ul class="nav flex-column">
            @{ 
                foreach (var categoria in categorias)
                {
                    <li class="nav-item">
                        <a class="nav-link" asp-action="GetGenre" asp-route-genreId="@(categoria.GenreId)">
                            @(categoria.Name)
                        </a>
                    </li>
                }
            }
        </ul>
    </div>
</div>