html{
    height:100%;
}

body {
    /*background: linear-gradient(to right, #6441a5, #2a0845);*/
    overflow-x: hidden;
}

main{
    margin-bottom:6rem;
}

.drophide {
    visibility: hidden;
    width: 0;
}

.w-33 {
    width: 33%;
}

.card {
    border-radius: 10px;
}

.input-group-text {
    border: 0;
    border-radius: 0;
    background-color: transparent;
}

.input-common {
    border: 0;
}

/*.input-common::placeholder {
    font-size: 1.1rem;
    color: #ced4da;
}*/

.dropdown-divider {
    border: 1px solid #ced4da;
    margin: 0;
    transition: 0.5s;
}

.input-common:focus {
    box-shadow: none;
}

.input-common:focus + .dropdown-divider {
    border: 1px solid #80bdff;
}

div > span {
    color: #666666
}

.a-common {
    color: #666666
}

.a-common:hover {
    text-decoration: none;
}

.btn-common{
    font-size: 1.3rem;
    border-radius: 1.25rem;
}

.fa-facebook {
    height: 50px;
    width: 50px;
    border: 1px solid transparent;
    border-radius: 50%;
    text-align: center;
    font-size: 1.5rem;
    padding-top: 13px;
    background-color: #3b5998;
    color: white;
}

.fa-google {
    height: 50px;
    width: 50px;
    border: 1px solid transparent;
    border-radius: 50%;
    text-align: center;
    font-size: 1.5rem;
    padding-top: 13px;
    background-color: #ea4335;
    color: white;
}

.activa {
    color: white !important;
    font-weight: bold !important
}