/** {
    margin: 0;
    padding: 0;
}*/

html{
    height:100%;
}

body {
    overflow-x: hidden; /*!important/*/
    height: 100vh;
}

#container {
    margin-top: 16px;
}

/*
Navbar 
 */

.drophide {
    visibility: hidden;
    width: 0;
}

.dropdown-menu {
    height: 180px;
    overflow-y: auto;
}

.form-control {
    border-radius: 10rem;

}

#comment > .form-control {
    border-radius: 0rem;
}

.bg-dark-2 {
    background: rgb(26,32, 40);
    color: white;
    height: 60%;
}

.btn {
    border-radius: 10rem;
}

.btn-valoration {
    position: relative;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    margin-left: 15px;
    font-size: 1rem;
    padding: 0;
    border-radius: 50%;
    z-index: 3;
}

/*Estrellas valoracion*/


p.clasificacion {
    text-align: center;
    direction: rtl;
    unicode-bidi: bidi-override;
}

p.clasificacion > a {
    text-decoration: none;
}

p.clasificacion > a > label {
    color: grey;
    font-size: 20px;
}

p.clasificacion > a > label:hover {
    color: orange;
}

    .opciones > form > button:focus {
        box-shadow: none;
    }

.comentarios {
    border: 1px solid #eee;
    width: 100%;
    display: flex;
    margin: 0 auto;
}

.ImgComentario {
    font-size: 58px;
}


#img {
    height: 90%;
}

a.btn.del-coment:focus {
    box-shadow: none;
}

.fa-times-circle {
    font-size: 28px;
}



@media (max-width: 767.98px) {
    .drophide {
        visibility: initial;
        width: auto;
    }

    .btn-circle-sm {
        width: 40px;
        height: 40px;
        line-height: 35px;
        font-size: 0.9rem;
    }

    #img {
        height: 50%; /*!important*/
        width: 100%;
    }

    .contenido {
        margin-left: 2rem;
    }

    .bg-dark-2 {
        height: 730px;
    }
}


@media (max-width: 575.98px) {
    .row-h {
        height: 1000px;
    }

    .comentario {
        font-size: .8em;
        /*margin-inline-end: 24px;*/
    }
}


@media (max-width: 314px) {
    .row-h {
        height: 1100px;
    }
}
