﻿html, body {
    height: 100%;
}

body {
    background: #f1f2f7;
    min-height: 100%;
    overflow-x: hidden;
}

[role="main"] {
    margin-top: 20px;
}

.sidenav {
    flex: 0 0 20%;
    max-width: 20%;
    padding-right: 0;
    transition: 0.5s;
}

.sidenav-hidde {
    max-width: 5%;
}

.sidenav > .list-group {
    min-height: 100vh;
    height: 100%;
}

.sidenav > .list-group > div > button:hover {
    color: #80bdff !important;
}

.sidenav > .list-group > div > button > i {
    transition: 0.5s;
}

.sidenav > .list-group > div > button:hover > i {
    transform: scale(1.1);
}

.sidenav > .list-group > div > button:focus {
    box-shadow: none;
    color: #80bdff !important;
}

.contend {
    flex: 0 0 80%;
    max-width: 80%;
    padding-right: 0;
    padding-left: 0;
}

.list-group > .dropdown-divider {
    width: 85%;
}

.navbar {
    padding: 0;
}

.navbar > .collapse {
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 2px rgba(0,0,0,0.1);
}

#menu {
    margin-left: -2.5rem;
}

#user_view > div > button {
    margin-top: -5.5rem;
    margin-left: 6rem;
    padding: 0;
}

#user_view > div > button:focus {
    box-shadow: none;
}

#user_view > div > button > i {
    font-size: 1.4rem;
    color: white;
    transition: 0.5s;
}

#user_view > div > button:hover > i {
    transform: scale(1.1);
}

.card {
    border: none;
    background-color: transparent;
}

.card > img{
    border-radius: 10px;
}

.card > form > button:focus {
    box-shadow: none;
}

.card > form > button > i {
    font-size: 1.2rem;
}

.activa{
    color:white !important;
    font-weight:bold !important
}

.portada {
    height: 250px;
}