﻿html {
    height: 100% !important;
}
body {
    height: 100% !important;
    background: white;
    overflow-x: hidden !important;
}

#content {
    padding-top: 16px; /* Space for fixed navbar */
}

/* Navbar */

.drophide {
    visibility: hidden;
    width: 0;
}

.dropdown-menu {
    height: 180px;
    overflow-y: auto;
}

.form-control {
    border-radius: 10rem;
}



.btn {
    border-radius: 10rem;
}

/* Carousel */

.carousel-inner {
    height: 439px !important;
}

/* Cards */

.card {
    border: none;
    border-radius: 0;
}

.card img {
    box-shadow: -1px 0px 15px -10px rgba(0, 0, 0, 1);
    border-radius: 15px;
}

.card-body {
    padding-top: .25rem;
    text-align: center;
}

.card-title {
    font-size: 1rem;
    margin-bottom: .25rem;
}

/* Button Valoration */

.btn-valoration {
    position: absolute;
    width: 45px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    margin-left: 5px;
    margin-top: 18rem;
    /* margin-top: 13rem; para Edge */
    padding: 0;
    border-radius: 50%;
    z-index: 3;
}

/* Button Circle dropdown Menu*/

.btn-circle {
    position: absolute;
    width: 45px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    margin-left: 75%;
    padding: 0;
    border-radius: 50%;
    z-index: 2;
}

.btn-circle i {
    position: relative;
    top: -1px;
}

.btn-circle-sm {
    width: 35px;
    height: 35px;
    line-height: 35px;
    font-size: 0.9rem;
}

.drop-menu {
    height: 150px;
}

.dropdown-divider {
    height: 0;
    margin: 0;
}

/* Media Queries*/

@media (max-width: 767.98px) {
    .drophide {
        visibility: initial;
        width: auto;
    }

    .carousel-indicators {
        margin-bottom: -0.3rem;
    }

    .carousel-control-prev {
        visibility: hidden;
    }

    .carousel-control-next {
        visibility: hidden;
    }
}

@media (max-width: 575.98px) {
    .row-p-none {
        margin-right: 0px;
        margin-left: 0px;
    }

    .col-px-5 {
        padding-right: 5px !important;
        padding-left: 5px !important;
    }

    .col-md-9 {
        padding-right: 0px;
        padding-left: 0px;
    }

    .card-title {
        font-size: 1rem;
    }

    .card img {
        height: 200px;
        /* border-radius: 0; */
    }

    .btn-valoration {
        margin-top: 10rem !important;
    }

    .pagination {
        margin-bottom: .2rem;
    }
}

/* Sidebar */

.sidebar {
    position: fixed;
    top: 1%;
    bottom: 0;
    left: 0;
    z-index: 100; /* Behind the navbar */
    padding: 48px 0 0; /* Height of navbar */
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
    .sidebar-sticky {
        position: -webkit-sticky;
        position: sticky;
    }
}

.sidebar .nav-link {
    font-size: .875rem;
    font-weight: 500;
    color: #333;
}

    .sidebar .nav-link .feather {
        margin-right: 4px;
        color: #999;
    }

    .sidebar .nav-link.active {
        color: #007bff;
    }

        .sidebar .nav-link:hover .feather,
        .sidebar .nav-link.active .feather {
            color: inherit;
        }

.sidebar-heading {
    padding-top: 10%;
    padding-left: 10%;
    font-size: 1.8rem;
    text-transform: uppercase;
}

.activa a {
    color: white !important;
    font-weight: bold !important
}