﻿@model TMDbLib.Objects.General.SearchContainer<SearchMovie>

@{
    string action = ViewContext.RouteData.Values.Values.ToList()[1].ToString();
    string posterPath = string.Empty;
    string title = string.Empty;
    string releaseDate = string.Empty;
    int aux = 0;
    Dictionary<int, string> Categorias = new Dictionary<int, string>()
    {
        { 28, "Acción" }, {16, "Animación" }, { 99, "Documental" }, { 18, "Drama" },
        { 10751, "Familia" }, { 14, "Fantasia" }, { 36, "História" }, { 35, "Comedia" },
        { 10752, "Guerra" }, { 80, "Crimen" }, { 10402, "Musica" }, { 9648, "Misterio" },
        { 10749, "Romance" }, { 878, "Ciencia Ficción" }, { 27, "Terror" }, { 10770, "Peliculas TV"},
        { 53, "Thriller" }, { 37, "Orientales" }, { 12, "Aventura" }
    };

    int previus = Model.Page - 1;
    int next = Model.Page + 1;
    string page1 = (Model.Page >= 6) ? "6" : "1";
    string page2 = (Model.Page >= 6) ? "7" : "2";
    string page3 = (Model.Page >= 6) ? "8" : "3";
    string page4 = (Model.Page >= 6) ? "9" : "4";
    string page5 = (Model.Page >= 6) ? "10" : "5";
    int currentPage = Convert.ToInt32(ViewData["currentPage"]);
}
}

<div class="container-fluid">
    <div class="row">
        <!-- Sidebar -->
        <partial name="Sidebar" />

        <div id="content" class="ml-md-auto col-md-10">
            <!-- Carousel -->
            <partial name="Carousel" />

            <main>
                <!-- Cards -->
                <div class="d-flex flex-row">
                    <div class="row row-p-none row-cols-2 row-cols-sm-4 row-cols-lg-5 row-cols-xl-6 mt-1 mt-sm-4">
                        @{
                            int cnt = 1;
                            int rest = Model.Results.Count % 6;

                            foreach (SearchMovie movie in Model.Results)
                            {
                                posterPath = (movie.PosterPath != null) ? $"https://image.tmdb.org/t/p/w220_and_h330_face{movie.PosterPath}" : "https://www.themoviedb.org/assets/2/v4/glyphicons/basic/glyphicons-basic-38-picture-grey-c2ebdbb057f2a7614185931650f8cee23fa137b93812ccb132b9df511df1cfac.svg";
                                title = (movie.Title != string.Empty) ? movie.Title : "";
                                releaseDate = (movie.ReleaseDate != null) ? movie.ReleaseDate.Value.ToString("MMM  dd, yyy").Remove(3, 1) : " ";

                                if (cnt <= Model.Results.Count - rest)
                                {
                                    <div class="col col-px-5">
                                        <div class="card">
                                            <img src="@posterPath" alt="">
                                            <div class="card-body">
                                                <h5 class="card-title">@title</h5>
                                                <p class="card-text">@releaseDate</p>
                                                <div class="row justify-content-center align-items-center">
                                                    @{
                                                        if (movie.GenreIds.Count > 0)
                                                        {
                                                            aux = (movie.GenreIds.Count > 1) ? 2 : 1;
                                                            for (int i = 0; i < aux; i++)
                                                            {
                                                                <span class="badge badge-dark ml-1">@Categorias[movie.GenreIds[i]]</span>
                                                            }
                                                        }
                                                    }
                                                </div>
                                                <a class="stretched-link" asp-action="MovieDetail" asp-route-movieId="@movie.Id"></a>
                                            </div>
                                        </div>
                                    </div>
                                }
                                else
                                {
                                    <div class="col col-px-5">
                                        <div class="card">
                                            <img src="@posterPath" alt="">
                                            <div class="card-body">
                                                <h5 class="card-title">@title</h5>
                                                <p class="card-text">@releaseDate</p>
                                                <div class="row justify-content-center align-items-center">
                                                    @{
                                                        if (movie.GenreIds.Count > 0)
                                                        {
                                                            aux = (movie.GenreIds.Count > 1) ? 2 : 1;
                                                            for (int i = 0; i < aux; i++)
                                                            {
                                                                <span class="badge badge-dark ml-1">@Categorias[movie.GenreIds[i]]</span>
                                                            }
                                                        }
                                                    }
                                                </div>
                                                <a class="stretched-link" asp-action="MovieDetail" asp-route-movieId="@movie.Id"></a>
                                            </div>
                                        </div>
                                    </div>
                                }
                                cnt++;
                            }
                        }
                    </div>
                </div>

                <!-- Pagination -->
                <div class="d-flex flex-row justify-content-center">
                    <nav aria-label="...">
                        <ul class="pagination justify-content-center">
                            <li class="page-item @(previus == 0 ? "disabled": "")">
                            <li class="page-item @(previus == 0 ? "disabled": "")">
                                <a class="page-link" asp-controller="Home" asp-action="@action" asp-route-page="@previus">Previus</a>
                            </li>

                            <li class="page-item @(Model.Page == int.Parse(page1) ? "active": "")"><a class="page-link" asp-controller="Home" asp-action="@action" asp-route-page="@page1">@page1</a></li>

                            <li class="page-item @(Model.Page == int.Parse(page2) ? "active": "")"><a class="page-link" asp-controller="Home" asp-action="@action" asp-route-page="@page2">@page2</a></li>

                            <li class="page-item @(Model.Page == int.Parse(page3) ? "active": "")"><a class="page-link" asp-controller="Home" asp-action="@action" asp-route-page="@page3">@page3</a></li>

                            <li class="page-item @(Model.Page == int.Parse(page4) ? "active": "")"><a class="page-link" asp-controller="Home" asp-action="@action" asp-route-page="@page4">@page4</a></li>

                            <li class="page-item @(Model.Page == int.Parse(page5) ? "active": "")"><a class="page-link" asp-controller="Home" asp-action="@action" asp-route-page="@page5">@page5</a></li>

                            <li class="page-item @(next == 11 ? "disabled": "")">
                                    <a class="page-link" asp-controller="Home" asp-action="@action" asp-route-page="@next">Next</a>
                            </li>
                            </ul>
                        </nav>
                    </div>
            </main>
        </div>
    </div>
</div>
