﻿@model List<Cine>;

 <div class="jumbotron jumbotron-fluid" style="height:20%">
        <div class="container">
            <h1 class="display-4">Ven a vivir la experiencia</h1>
            <p class="lead">Seleccione su cine más cercano para ver la cartelera disponible</p>
        </div>
    </div>

    <div class="container">

        <div class="">
            <form class="form-inline my-2 my-lg-0 mt-3" asp-action="SearchCine" method="post">
                <input id="query" name="query" class="form-control mr-sm-2 w-75" type="search" placeholder="Buscar ciudad" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Buscar</button>
            </form>

        </div>
        @if (Model.Count() > 0)
        {
            @foreach (var cine in Model)
            {
                <div class="card mt-3">
                    <h5 class="card-header">@cine.Nombre.ToUpper()</h5>
                    <div class="card-body">
                        <h5 class="card-title">Dirección: @cine.Direccion, @cine.Ciudad</h5>
                        <a href="https://@cine.PaginaWeb">@cine.PaginaWeb</a><br />
                        <a asp-action="verPeliculas" asp-route-id="@cine.Id" class="btn btn-primary mt-2">Ver peliculas</a>
                    </div>
                </div>
            }
        }
        else
        { <br />
            <p>@ViewData["mensaje"]</p>
        }


    </div>


