﻿@model Movie
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager

@{  
    string action = ViewContext.RouteData.Values.Values.ToList()[1].ToString();
    var query = ViewContext.HttpContext.Request.QueryString.ToString();
    ViewData["url"] = $"~/Home/{action}{query}";
    string posterPath = string.Empty;
    string title = string.Empty;
    string releaseDate = string.Empty;
    string overview = string.Empty;
    double vote_average = 0;
    List<Comentario> comentarios = ViewData["comentarios"] as List<Comentario>;
}

<div id="container" class=" container-fluid">

    @{
        title = (Model.Title != string.Empty) ? Model.Title : "";
        releaseDate = (Model.ReleaseDate != null) ? Model.ReleaseDate.Value.ToString("MMM dd yyy").Remove(3, 1) : "No tenemos fecha para mostrar";
        overview = (Model.Overview != string.Empty) ? Model.Overview : "No tenemos una sinopsis en español.";
        posterPath = (Model.PosterPath != null) ? $"https://image.tmdb.org/t/p/w220_and_h330_face{Model.PosterPath}" : "https://www.themoviedb.org/assets/2/v4/glyphicons/basic/glyphicons-basic-38-picture-grey-c2ebdbb057f2a7614185931650f8cee23fa137b93812ccb132b9df511df1cfac.svg";
        vote_average = (Model.VoteAverage != 0) ? Model.VoteAverage : 0;

        <div class="row-h row bg-dark-2">

            <div id="img" class="mt-md-4 col-xs-12 col-md-4 col-xl-3 offset-0 offset-xl-1">
                <img class="w-100 h-100" src=@posterPath alt="">
            </div>

            <div class=" contenido mt-3 col-xs-12 col-md-8 mt-sm-n2 mt-md-5 ml-sm-0 ml-3">
                <h3 class="card-title">@title</h3>
                <p class="card-text">@releaseDate</p>

                @{
                    if (SignInManager.IsSignedIn(User))
                    {
                        <div class=" opciones row">
                            <form method="post" asp-controller="Home" asp-action="AddFavorite" asp-route-url="@($"~/Home/{action}{query}")" asp-route-movieId="@Model.Id">
                                <button class="btn text-white" type="submit">
                                    <i class="fa fa-heart mr-1 ml-3 @ViewData["forecolor"]" aria-hidden="true"></i>
                                    Favorita
                                </button>                                
                            </form>
                        </div>
                    }
                }

                <div>
                    <div class="wcontenido mt-2 mt-sm-0">
                        <h4>Overview</h4>
                        <p id="description">
                            @overview
                        </p>
                    </div>

                    @{ 
                        if (SignInManager.IsSignedIn(User))
                        {
                            <partial view-data="@ViewData" model="Model" name="~/Views/Shared/UserMovie/MovieScore.cshtml" />
                        }
                    }

                </div>
            </div>
        </div>

        <div class="container mb-5">

            @{
                if (SignInManager.IsSignedIn(User))
                {
                    <partial name="~/Views/Shared/UserMovie/MovieComment.cshtml" />
                }
            }

            @foreach (var comentario in comentarios)
            {
                <div class="comentarios mt-4">
                    <div class="col-1 d-inline-block mt-2">
                        <i class="ImgComentario fa fa-user fa-10x"></i>
                    </div>

                    <div class="col-11 d-inline-block mt-2 ml-4 ml-sm-3 ml-md-2">
                        <div class=" d-flex justify-content-between">
                            <small class="text-muted mr-3 mr-sm-2 mr-md-0">@comentario.FechaPublicacion</small>
                            @{
                                if (User.IsInRole("Administrador"))
                                {
                                    <a asp-controller="Admin" asp-action="EliminarComentario" asp-route-peliculaId="@(Model.Id)"
                                        asp-route-comentarioId="@(comentario.ComentarioId)" asp-route-url="@($"~/Home/{action}{query}")" class="btn del-coment">
                                        <i class="fa fa-times text-danger" aria-hidden="true"></i>
                                    </a>
                                }
                            }
                        </div>
                        <p class=" comentario mb-1">
                           @comentario.Descripcion
                        </p>
                        <small class="text-muted">@comentario.Autor</small>
                    </div>
                </div>
            }
        </div>

    }
</div>
