﻿@model List<Pelicula>

@{
    Usuario usuario = ViewData["usuario"] as Usuario;
    string imageSrc = (usuario.Imagen is null) ? @"../images/user.png" : $"data:image/png;base64,{Convert.ToBase64String(usuario.Imagen)}";
    string action = ViewContext.RouteData.Values.Values.ToList()[1].ToString();
    var query = ViewContext.HttpContext.Request.QueryString.ToString();
    string action2 = $"{ViewContext.RouteData.Values.Values.ToList()[0].ToString()}-{ViewContext.RouteData.Values.Values.ToList()[1].ToString()}";
}

<main role="main">
    <div class="row row-cols-2">
        <!-- Sidenav -->
        <div class="col sidenav">
            <ul class="list-group bg-dark">
                <h4 class="text-white text-center mt-3">@((usuario.Nombre != "") ? usuario.Nombre : "Usuario")</h4>
                <div class="dropdown-divider ml-3"></div>
                <div class="row">
                    <a class="nav-link ml-4 mt-3 @(action2 == "Home-Perfil" ? "activa": "text-white")" asp-controller="Home" asp-action="Perfil">
                        Perfil
                        <i class="fa fa-user-o pr-4" aria-hidden="true"></i>
                    </a>
                </div>
                <div class="row">
                    <a class="nav-link ml-4 mt-3 @(action2 == "Home-PeliculasFav" ? "activa": "text-white")" asp-controller="Home" asp-action="PeliculasFav">
                        Peliculas Favoritas
                        <i class="fa fa-heart-o pr-4" aria-hidden="true"></i>
                    </a>
                </div>
            </ul>
        </div>

        <!-- Contend -->
        <div class="col contend">
            <nav class="navbar navbar-expand-lg bg-white">
                <div class="collapse navbar-collapse px-3" id="navbarNav">
                    <ul class="navbar nav">
                        <li class="nav-item">
                            <h3>Peliculas Favoritas</h3>
                        </li>
                    </ul>

                    <ul class="navbar-nav justify-content-end ml-auto">
                        <li class="nav-item mr-5">
                            <button class="btn">
                                <img class="rounded-circle" src="@imageSrc" width="50" height="50" alt="">
                            </button>
                        </li>
                    </ul>
                </div>
            </nav>

            <!-- Favorite Movie -->
            <div class="container">
                <div class="row mt-4">
                    @{
                        if (Model.Count < 1)
                        {
                            <div class="col-12">
                                <h5>No tienes peliculas favoritas</h5>
                            </div>
                        }
                        else
                        {
                            foreach (var pelicula in Model)
                            {
                                string img = (pelicula.ImageUrl != null) ? $"https://image.tmdb.org/t/p/w220_and_h330_face{pelicula.ImageUrl}" : "https://www.themoviedb.org/assets/2/v4/glyphicons/basic/glyphicons-basic-38-picture-grey-c2ebdbb057f2a7614185931650f8cee23fa137b93812ccb132b9df511df1cfac.svg";
                                <div class="col-2 mb-4">
                                    <div class="card">
                                        <form method="post" asp-controller="Home" asp-action="AddFavorite" asp-route-url="@($"~/Home/{action}{query}")" asp-route-movieId="@pelicula.MovieId">
                                            <button class="btn position-absolute"><i class="fa fa-times text-danger"></i></button>
                                        </form>
                                        <img class="portada" src="@img">

                                        <div class="card-body">
                                            <h5 class="card-title text-center">@pelicula.Titulo</h5>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                    }
                </div>
            </div>            
        </div>
    </div>
</main>