﻿
@model Usuario

@{
    string imageSrc = (Model.Imagen is null) ? @"../images/user.png" : $"data:image/png;base64,{Convert.ToBase64String(Model.Imagen)}";
  
    string action = $"{ViewContext.RouteData.Values.Values.ToList()[0].ToString()}-{ViewContext.RouteData.Values.Values.ToList()[1].ToString()}";
    
}

<main role="main">
    <div class="row row-cols-2">
        <!-- Sidenav -->
        <div class="col sidenav">
            <ul class="list-group bg-dark">
                <h4 class="text-white text-center mt-3">@((Model.Nombre != "") ? Model.Nombre : "Usuario")</h4>
                <div class="dropdown-divider ml-3"></div>
                <div class="row">
                    <a class="nav-link ml-4 mt-3 @(action == "Home-Perfil" ? "activa": "text-white")" asp-controller="Home" asp-action="Perfil">
                        Perfil
                        <i class="fa fa-user-o pr-4" aria-hidden="true"></i>
                    </a>
                </div>
                <div class="row">
                    <a class="nav-link ml-4 mt-3 @(action == "Home-PeliculasFav" ? "activa": "text-white")" asp-controller="Home" asp-action="PeliculasFav">
                        Peliculas Favoritas
                        <i class="fa fa-heart-o pr-4" aria-hidden="true"></i>
                    </a>
                </div>
            </ul>
        </div>

        <!-- Contend -->
        <div class="col contend">
            <nav class="navbar navbar-expand-lg bg-white">
                <div class="collapse navbar-collapse px-3" id="navbarNav">
                    <ul class="navbar nav">
                        <li class="nav-item">
                            <h3>Perfil</h3>
                        </li>
                    </ul>

                    <ul class="navbar-nav justify-content-end ml-auto">
                        <li class="nav-item mr-5">
                            <button class="btn">
                                <img class="rounded-circle" src="@imageSrc" width="50" height="50" alt="">
                            </button>

                        </li>
                    </ul>
                </div>
            </nav>

            <!-- User Profile -->
            <div id="user_view" class="row mt-3 ml-4">
                <div class="col-2">
                    <img class="rounded-circle" src="@imageSrc" width="150" height="150" alt="">
                    <button class="btn" id="button"><i class="fa fa-plus-circle" aria-hidden="true"></i></button>


                </div>
                <div class="col-10 mt-4">
                    <div class="card w-75">
                        <div class="card-body">
                            <div class="row card-title justify-content-around mb-3">
                                <h4>Datos de tu cuenta</h4>
                                <h4>Datos personales</h4>
                            </div>
                            <form method="post" asp-action="Perfil" enctype="multipart/form-data">
                                <input id="imagen" type="file" accept="image/png, image/jpeg" name="imagen" style="display: none;" />
                                <div class="form-row">
                                    <div class="form-group col-6">
                                        <label for="staticUsername" class="mb-1">Usuario</label>
                                        <input type="text" id="staticUsername" disabled class="form-control" value="@ViewData["userName"]">
                                    </div>
                                    <div class="form-group col-6">
                                        <label for="nombre" class="mb-1">Nombre</label>
                                        <input type="text" id="nombre" name="nombre" class="form-control" value="@Model.Nombre">
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-6">
                                        <label for="password" class="mb-1">Contraseña</label>
                                        <input type="password" id="password" name="password" class="form-control">
                                    </div>

                                    <div class="form-group col-6">
                                        <label for="apellido" class="mb-1">Apellido</label>
                                        <input type="text" id="apellido" name="apellido" class="form-control" value="@Model.Apellido">
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-6">
                                        <label for="staticLastConfirmPassword" class="mb-1">Confirmar Contraseña</label>
                                        <input type="password" id="staticConfirmPassword" class="form-control">
                                    </div>
                                    <div class="form-group col-6">
                                        <label for="pais" class="mb-1">Pais</label>
                                        <input type="text" id="pais" name="pais" class="form-control" value="@Model.Pais">
                                    </div>
                                </div>

                                <div class="row justify-content-between">
                                    <button class="btn btn-success ml-3" type="submit">Guardar cambios</button>
                                    <a asp-action="Bloquear" class="btn btn-danger mr-3">Eliminar mi cuenta</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>


@section Scripts {
    <script>
    $('#button').on('click', function () {
            $('#imagen').trigger('click');
        });</script>
}