﻿@model TMDbLib.Objects.General.SearchContainer<SearchMovie>

@{
    string action = ViewContext.RouteData.Values.Values.ToList()[1].ToString();
    string posterPath = string.Empty;
    string title = string.Empty;
    string releaseDate = string.Empty;

    int previus = Model.Page - 1;
    int next = Model.Page + 1;
}

<main role="main" class="flex-shrink-0 ml-3 ml-sm-0">
    <div class="container pxc-0">

        <!-- Form Search Movie -->
        <form asp-action="Search" method="post">
            <div class="row mt-2 mt-sm-3">
                <div class="col-9 col-sm-10">
                    <input id="query" name="query" type="text" placeholder="Buscar película" value="@ViewData["query"]" class="form-control" />
                </div>
                <div class="col-3 col-sm-2">
                    <button class="btn btn-outline-success" type="submit">
                        Buscar
                        <i class="fa fa-serach"></i>
                    </button>
                </div>
            </div>
        </form>

        <div class="rcs-pl-n16 row row-cols-1 row-cols-sm-2">

            <!-- Result -->
            <div class="col pt-2 pt-md-5 col-search col-px-0">
                <ul class="list-group">
                    <li class="list-group-item d-flex justify-content-center card-header">Resultados</li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        Peliculas<span class="badge badge-primary badge-pill ml-2 ml-sm-0">@Model.TotalResults</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        Paginas<span class="badge badge-primary badge-pill ml-2 ml-sm-0">@Model.TotalPages</span>
                    </li>
                </ul>
            </div>

            <!-- Cards Results -->
            <div class="col pt-3 pt-md-5 col-result">
                <div class="row row-cols-1">
                    @{
                        foreach (SearchMovie movie in Model.Results)
                        {
                            posterPath = (movie.PosterPath != null) ? $"https://image.tmdb.org/t/p/w220_and_h330_face{movie.PosterPath}" : "https://www.themoviedb.org/assets/2/v4/glyphicons/basic/glyphicons-basic-38-picture-grey-c2ebdbb057f2a7614185931650f8cee23fa137b93812ccb132b9df511df1cfac.svg";
                            title = (movie.Title != string.Empty) ? movie.Title : "";
                            releaseDate = (movie.ReleaseDate != null) ? movie.ReleaseDate.Value.ToString("MMM  dd, yyy").Remove(3, 1) : " ";

                            <div class="col">
                                <div class="card mb-3">
                                    <div class="row no-gutters">
                                        <div class="col-md-4 mx-w">
                                            <img src="@posterPath"
                                                 class="card-img h-100" alt="...">
                                        </div>
                                        <div class="col-md-8 col-car-body">
                                            <div class="card-body">
                                                <h5 class="card-title">@title</h5>
                                                <p class="card-subtitle">
                                                    <span class="text-muted">@releaseDate</span>
                                                </p>
                                                <p class="card-text text-truncate">@movie.Overview</p>
                                            </div>
                                        </div>
                                        <a class="stretched-link" asp-action="MovieDetail" asp-route-movieId="@movie.Id" asp-route-update="@false"></a>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>

        </div>

    </div>

    <!-- Pagination -->
    @{
        if (action == "Search")
        {
            <div class="d-flex flex-row justify-content-center">
                <nav aria-label="...">
                    <ul class="pagination justify-content-center">
                        <li class="page-item @(previus == 0 ? "disabled" : "")">
                            <a class="page-link" aria-disabled="true" asp-action="Search" asp-route-page="@previus">Previus</a>
                        </li>
                        @{
                            for (int i = 1; i <= Model.TotalPages; i++)
                            {
                                <li class="page-item @(Model.Page == i ? "active" : "")"><a class="page-link" asp-action="Search" asp-route-page="@i">@i</a></li>
                            }
                        }
                        <li class="page-item @(next -1 == Model.TotalPages ? "disabled": "")">
                            <a class="page-link" aria-disabled="true" asp-action="Search" asp-route-page="@next">Next</a>
                        </li>
                    </ul>
                </nav>
            </div>
        }
        else
        {
            <partial name="Pagination" />
        }
    }

</main>


