﻿@model List<Pelicula>

<div class="jumbotron jumbotron-fluid" style="height:20%">
  <div class="container">
    <h1 class="display-4">Cartelera</h1>
    <p class="lead">Este es el listado de peliculas que tenemos disponibles actualmente.</p>
  </div>
</div>

<div class="container">

    <div class="row">
        @{
                        if (Model.Count < 1)
                        {
            <div class="col-12">
                <h5>No tienes peliculas favoritas</h5>
            </div>
                        }
                        else
                        {
                            foreach (var pelicula in Model)
                            {
                                string img = (pelicula.ImageUrl != null) ? $"https://image.tmdb.org/t/p/w220_and_h330_face{pelicula.ImageUrl}" : "https://www.themoviedb.org/assets/2/v4/glyphicons/basic/glyphicons-basic-38-picture-grey-c2ebdbb057f2a7614185931650f8cee23fa137b93812ccb132b9df511df1cfac.svg";
            <div class="col-2">
                <div class="card">
                    <img src="@img" style="height:250px">
                    <div class="card-body">
                        <h5 class="card-title text-center">@pelicula.Titulo</h5>
                    </div>
                </div>
            </div>
                            }
                        }
        }
    </div>
</div>


