﻿@page
@model LoginModel
@inject IOptions<ProyectoPeliculas.Models.ReCAPTCHASettings> GoogleReCAPTCHA

@{
    ViewData["Title"] = "Acceder";
    bool bloqueo = (bool)ViewData["showModal"];
}

<main class="h-100">

    <div class="modal" id="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Cuenta bloqueada</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Esta cuenta está bloqueada o ha sido eliminada</p>
                </div>
            </div>
        </div>
    </div>

    <div class="container mt-5 mb-3 h-100 w-33">
        <div class="card h-100">
            <div class="card-body">
                <div class="row justify-content-center mt-4">
                    <h1 class="font-weight-bolder">@ViewData["Title"]</h1>
                </div>

                <div class="row mt-3 justify-content-center">
                    <form method="post" class="w-75">
                        <div asp-validation-summary="All" class="text-danger"></div>

                        <label asp-for="Input.Email">Email</label>
                        <div class="input-group mb-4">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <i class="fa fa-envelope" aria-hidden="true"></i>
                                </div>
                            </div>
                            <input id="email" asp-for="Input.Email" placeholder="Introduce tu email" class="form-control input-common">
                            <div class="dropdown-divider w-100"></div>
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>

                        <label asp-for="Input.Password">Contraseña</label>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <i class="fa fa-lock" aria-hidden="true"></i>
                                </div>
                            </div>
                            <input id="password" asp-for="Input.Password" placeholder="Escribe tu contraseña" class="form-control input-common">
                            <div class="dropdown-divider w-100"></div>
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                        </div>

                        <input type="hidden" asp-for="Input.Token" />

                        <div class="form-group">
                            <div class="checkbox">
                                <label asp-for="Input.RememberMe">
                                    <input asp-for="Input.RememberMe" />
                                    @Html.DisplayNameFor(m => m.Input.RememberMe)
                                </label>
                            </div>
                        </div>

                        <div class="g-recaptcha" data-sitekey="6LfCzfUUAAAAAG7-ZyscevsrJkf1zc6La0OgKK9C"></div>

                        <button class="btn btn-block btn-dark btn-common">Acceder</button>

                    </form>
                </div>

                <div class="row justify-content-center mt-5">
                    <span>Si no estás registrado</span>
                </div>

                <div class="row justify-content-center mt-3">
                    <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl" class="a-common">Registrar</a>
                </div>

            </div>
        </div>
    </div>
</main>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />

    <script src="https://www.google.com/recaptcha/api.js?render=@GoogleReCAPTCHA.Value.ReCAPTCHA_Site_Key"></script>
    <script>
        grecaptcha.ready(function () {
            grecaptcha.execute('@GoogleReCAPTCHA.Value.ReCAPTCHA_Site_Key', { action: 'homepage' }).then(function (token) {
                    $('#Input_Token').val(token);
            });
        });
    </script>

    @{
        if (bloqueo)
        {
            <script>
                $('#modal').modal('show');
            </script>
        }
    }

    <script>

        document.getElementById('email').addEventListener('focusin', function () {
            document.getElementsByClassName('fa-envelope')[0].style.color = '#80bdff';
        });

        document.getElementById('email').addEventListener('focusout', function () {
            document.getElementsByClassName('fa-envelope')[0].style.color = '#495057';
        });

        document.getElementById('password').addEventListener('focusin', function () {
            document.getElementsByClassName('fa-lock')[0].style.color = '#80bdff';
        });

        document.getElementById('password').addEventListener('focusout', function () {
            document.getElementsByClassName('fa-lock')[0].style.color = '#495057';
        });

        try {
            document.getElementById('confirm-password').addEventListener('focusin', function () {
                document.getElementsByClassName('fa-lock')[1].style.color = '#80bdff';
            });

            document.getElementById('confirm-password').addEventListener('focusout', function () {
                document.getElementsByClassName('fa-lock')[1].style.color = '#495057';
            });
        } catch (error) {

        }
    </script>
}


