﻿@page
@model RegisterModel
@{
    ViewData["Title"] = "Registrar";
}

<main class="h-100">
    <div class="container mt-5 mb-3 h-100 w-33">
        <div class="card h-100">
            <div class="card-body">
                <div class="row justify-content-center mt-4">
                    <h1 class="font-weight-bolder">@ViewData["Title"]</h1>
                </div>

                <div class="row mt-3 justify-content-center">
                    <form asp-route-returnUrl="@Model.ReturnUrl" method="post" class="w-75">
                        <div asp-validation-summary="All" class="text-danger"></div>

                        <label asp-for="Input.Email">Email</label>
                        <div class="input-group mb-4">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <i class="fa fa-envelope" aria-hidden="true"></i>
                                </div>
                            </div>
                            <input id="email" asp-for="Input.Email" placeholder="Escribe tu email" class="form-control input-common">
                            <div class="dropdown-divider w-100"></div>
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>

                        <label asp-for="Input.Password">Contraseña</label>
                        <div class="input-group mb-4">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <i class="fa fa-lock" aria-hidden="true"></i>
                                </div>
                            </div>
                            <input id="password" asp-for="Input.Password" placeholder="Escribe tu contraseña" class="form-control input-common">
                            <div class="dropdown-divider w-100"></div>
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                        </div>

                        <label asp-for="Input.ConfirmPassword">Confirma tu contraseña</label>
                        <div class="input-group mb-4">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <i class="fa fa-lock" aria-hidden="true"></i>
                                </div>
                            </div>
                            <input id="confirm-password" asp-for="Input.ConfirmPassword" placeholder="Confirma tu contraseña" class="form-control input-common">
                            <div class="dropdown-divider w-100"></div>
                            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                        </div>

                        <button class="btn btn-block btn-dark mt-5 btn-common">Registrar</button>
                    </form>
                </div>

                <div class="row justify-content-center mt-5">
                    <span>Si ya estás registrado: </span>
                </div>

                <div class="row justify-content-center mt-3">
                    <a asp-page="./Login" class="a-common">Acceder</a>
                </div>

            </div>
        </div>
    </div>
</main>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />

    <script>
        document.getElementById('email').addEventListener('focusin', function () {
            document.getElementsByClassName('fa-envelope')[0].style.color = '#80bdff';
        });

        document.getElementById('email').addEventListener('focusout', function () {
            document.getElementsByClassName('fa-envelope')[0].style.color = '#495057';
        });

        document.getElementById('password').addEventListener('focusin', function () {
            document.getElementsByClassName('fa-lock')[0].style.color = '#80bdff';
        });

        document.getElementById('password').addEventListener('focusout', function () {
            document.getElementsByClassName('fa-lock')[0].style.color = '#495057';
        });

        try {
            document.getElementById('confirm-password').addEventListener('focusin', function () {
                document.getElementsByClassName('fa-lock')[1].style.color = '#80bdff';
            });

            document.getElementById('confirm-password').addEventListener('focusout', function () {
                document.getElementsByClassName('fa-lock')[1].style.color = '#495057';
            });
        } catch (error) {

        }
    </script>
}
