﻿@model List<ListadoUsuarios>;


<div class="container-fluid mt-3">
    <div class="row">
        <div class="barra-lateral col-12 col-sm-auto">
            <div class="logo">
                <h2>Dashboard</h2>
            </div>
            <nav class="menu d-flex d-sm-block justify-content-center flex-wrap">
                <a asp-action="Index"><i class="fa fa-users mr-2"></i><span>Usuarios</span></a>
                <a asp-action="ListadoCines"><i class="fa fa-film mr-2"></i> <span>Cines</span> </a>
              
            </nav>
        </div>

        <main class="main col">
            <div class="row">
                <div class="columna col-lg-10">
                    <h4>Lista de usuarios</h4>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th class="text-center">Email</th>
                                <th class="text-center">Rol</th>
                                <th class="text-center">Accion</th>
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var usuario in Model)
                            {
                                <tr>
                                    <td class="text-center">@usuario.Email</td>
                                    <td class="text-center">@usuario.Rol</td>
                                    <td class="text-center">
                                        <a class="btn btn-danger" asp-action="Bloquear" asp-route-userId="@usuario.IdUsuario"><i class="fa fa-trash-o"></i></a>
                                    </td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>

                <div class="columna col-lg-2">
                    <div class="widget estadisticas">
                        <h3 class="text-center">Estadísticas</h3>
                        <div class="contenedor d-flex flex-wrap">
                            <div class="caja">
                                <h3>@Model.Count</h3>
                                <p>Usuarios</p>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </main>
    </div>
</div>