﻿@model Cine

<div class="container-fluid mt-3">
    <div class="row">
        <div class="barra-lateral col-12 col-sm-auto">
            <div class="logo">
                <h2>Dashboard</h2>
            </div>
            <nav class="menu d-flex d-sm-block justify-content-center flex-wrap">
                <a asp-action="Index"><i class="fa fa-users mr-2"></i><span>Usuarios</span></a>
                <a asp-action="ListadoCines"><i class="fa fa-film mr-2"></i> <span>Cines</span> </a>
            </nav>
        </div>
        <h3 class="text-center m-4">Nuevo cine</h3>
        <hr />
        <main class="main col">
            <div class="row">
                <div class="col-md-4">
                    <form asp-action="InsertarCine">
                        <div class="form-group">
                            <label asp-for="Nombre" class="control-label"></label>
                            <input asp-for="Nombre" class="form-control" />
                            <span asp-validation-for="Nombre" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Direccion" class="control-label"></label>
                            <input asp-for="Direccion" class="form-control" />
                            <span asp-validation-for="Direccion" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Ciudad" class="control-label"></label>
                            <input asp-for="Ciudad" class="form-control" />
                            <span asp-validation-for="Ciudad" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="PaginaWeb" class="control-label"></label>
                            <input asp-for="PaginaWeb" class="form-control" />
                            <span asp-validation-for="PaginaWeb" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-success" type="submit">Guardar cambios</button>
                        </div>
                    </form>
                </div>
            </div>
            </main>
    </div>
</div>
