﻿@model List<Cine>;

    <div class="container-fluid mt-3">
        <div class="row">
            <div class="barra-lateral col-12 col-sm-auto">
                <div class="logo">
                    <h2>Dashboard</h2>
                </div>
                <nav class="menu d-flex d-sm-block justify-content-center flex-wrap">
                    <a asp-action="Index"><i class="fa fa-users mr-2"></i><span>Usuarios</span></a>
                    <a asp-action="ListadoCines"><i class="fa fa-film mr-2"></i> <span>Cines</span> </a>
                </nav>
            </div>

            <main class="main col">
                <div class="row">
                    <div class="columna col-lg-10">
                        <h4>Lista de cines</h4>
                        <table class="table table-striped">
                            <a asp-action="InsertarCine" asp-controller="Admin" class="btn btn-success" style="color:white; float:right">
                                Nuevo<i class="fa fa-plus ml-2"></i></a>
                                <thead class="mt-2">
                                    <tr>
                                        <th class="text-center col-2">Nombre</th>
                                        <th class="text-center col-3">Direccion</th>
                                        <th class="text-center col-2">Ciudad</th>
                                        <th class="text-center col-3">Pagina web</th>
                                        @*<th class="text-center col-2"><a class="btn btn-success" style="color:white">Nuevo<i class="fa fa-plus ml-2"></i></a></th>*@
                                    </tr>
                                </thead>
                                <tbody>

                                    @foreach (var cine in Model)
                                    {
                                        <tr>
                                            <td class="text-center col-2">@cine.Nombre</td>
                                            <td class="text-center col-3">@cine.Direccion</td>
                                            <td class="text-center col-2">@cine.Ciudad</td>
                                            <td class="text-center col-3">@cine.PaginaWeb</td>
                                            <td class="text-center col-2">

                                                <a class="btn btn-danger" asp-action="EliminarCine" asp-route-idCine="@cine.Id"><i class="fa fa-trash-o"></i></a>
                                                @*<a class="btn btn-danger"><i class="fa fa-trash-o"></i></a>*@
                                                <a class="btn btn-primary" asp-action="EditarCine" asp-route-idCine="@cine.Id" asp-controller="Admin"><i class="fa fa-edit"></i></a>
                                            </td>
                                        </tr>
                                    }

                                </tbody>



</table>

                    </div>

                    <div class="columna col-lg-2">
                        <div class="widget estadisticas">
                            <h3 class="text-center">Estadísticas</h3>
                            <div class="contenedor d-flex flex-wrap">
                                <div class="caja">
                                    <h3>@Model.Count</h3>
                                    <p>Cines</p>
                                </div>
                            </div>
                        </div>



                    </div>
                </div>
            </main>
        </div>
    </div>