﻿@*@model List<Categoria>;


<div class="container-fluid mt-3">
    <div class="row">
        <div class="barra-lateral col-12 col-sm-auto">
            <div class="logo">
                <h2>Dashboard</h2>
            </div>
            <nav class="menu d-flex d-sm-block justify-content-center flex-wrap">
                <a asp-action="Index"><i class="fas fa-user mr-2"></i><span>Usuarios</span></a>
                <a asp-action="ListadoCategorias"><i class="fas fa-list mr-2"></i> <span>Categorias</span> </a>
                <a href="#"><i class="fas fa-sign-out-alt mr-2"></i><span>Salir</span></a>
            </nav>
        </div>

        <main class="main col">
            <div class="row">
                <div class="columna col-lg-10">
                    <h4>Lista de usuarios</h4>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th class="text-center">Id</th>
                                <th class="text-center">Descripción</th>
                                <th class="text-center">Acción</th>
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var categoria in Model)
                            {
                                <tr>
                                    <td class="text-center">@categoria.CategoriaId</td>
                                    <td class="text-center">@categoria.Name</td>
                                    <td class="text-center">
                                        <a class="btn btn-danger" asp-action="EliminarCategoria" asp-route-idCategoria="@categoria.CategoriaId"><i class="fa fa-trash-o"></i></a>
                                    </td>
                                </tr>
                            }

                        </tbody>
                    </table>

                    <button class="btn btn-success">Nueva</button>
                </div>

                <div class="columna col-lg-2">
                    <div class="widget estadisticas">
                        <h3 class="text-center">Estadísticas</h3>
                        <div class="contenedor d-flex flex-wrap">
                            <div class="caja">
                                <h3>@Model.Count</h3>
                                <p>Categorias</p>
                            </div>
                        </div>
                    </div>

                    

                </div>
            </div>
        </main>
    </div>
</div>*@